<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sarafinmahtab.tnsassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".teacher.RegisterTeacher">
            <intent-filter>
                <action android:name="com.sarafinmahtab.tnsassistant.teacher.RegisterTeacher" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".student.RegisterStudent">
            <intent-filter>
                <action android:name="com.sarafinmahtab.tnsassistant.student.RegisterStudent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacher.TeacherActivity"
            android:label="Teacher Activity" />
        <activity
            android:name=".student.StudentActivity"
            android:label="Student Activity" />
        <activity android:name=".teacher.TeacherDashboard" />
        <activity android:name=".teacher.studentlist.StudentList" />
        <activity android:name=".student.stdcourses.AllCoursesActivity"></activity>
    </application>

</manifest>